nav.control-window {
  left:5px;
  top:3px;
  z-index:10;
  height:19px;

}
nav.control-window a {
  display: inline-block;
  margin: 2px 0 3px 1px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: relative;
}

nav.control-window a.close:hover {
  background: #FD4E4E url(../icons/buttons-hover.png) 1px 1px no-repeat;
}
nav.control-window a.minimize:hover {
  background: #F3BB55 url(../icons/buttons-hover.png) -9px 1px no-repeat;
}
nav.control-window a.maximize:hover {
  background: #96D16F url(../icons/buttons-hover.png) -19px 1px no-repeat;
}

nav.control-window .close {
  background: #FD4E4E;
}
nav.control-window .minimize {
  background: #F3BB55;
}
nav.control-window .maximize {
  background: #96D16F;
}
nav.control-window .deactivate {
  background: #4c9a3c;
}
