nav.control-window {
  left:5px;
  top:3px;
  z-index:10;
  height:19px;

}
nav.control-window a {
  display: inline-block;
  margin: 2px 0 3px 1px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  text-indent: -9999px;
  position: relative;
}
nav.control-window a:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
nav.control-window a:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 100%;
}
nav.control-window .close {
  background: #FD4E4E;
}
nav.control-window .minimize {
  background: #F3BB55;
}
nav.control-window .maximize {
  background: #96D16F;
}
nav.control-window .deactivate {
  background: #b5b5b5;
}
