#push-list
{
  position: fixed;
  display: block;
  overflow-y: scroll;
  width: 70%;
  height: 100%;
  left: 50px;

  background-color: #f5f5f5;
}

.push-card
{
  position: relative;
  display: block;
  margin: 10px;
  box-shadow: 0 1px 1px #d0d0d0;
  width: auto;
  max-height: 150px;
  overflow-y: hidden;

  background-color: white;
}
.card-left
{
  position: relative;
  display: inline-block;
  float: left;
  width: 80%;
  height: auto;
  overflow-y: hidden;
}
.card-logo
{
  padding: 10px 5%;
  position: relative;
  pointer-events: none;
  display: inline-block;
  float: left;
  width: 30%;
}
.card-logo img
{
  width: 100%;
}
.card-content
{
  position: relative;
  display: inline-block;
  float: right;
  width: 70%;
}
.card-right
{
  position: relative;
  display: inline-block;
  float: right;
  width: 20%;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
