.push-card
{
  position: relative;
  display: block;
  margin: 10px;
  box-shadow: 0 1px 0 #d0d0d0;
  width: auto;
  min-height: 60px;
  max-height: 60px;
  transition: max-height 0.5s ease 0.3s;
  overflow-y: hidden;

  background-color: white;
}
.content-main
{
  line-height: 138%;
  color: #a8aeb0;
}
.content-main a
{
  color: #2e8ccf;
}
.content-title
{
  color: #4d5152;
  margin-top: 8px;
  margin-bottom: 8px;
}
.push-card:hover
{
  max-height: 500px;
}
.card-main
{
  position: relative;
  display: inline-block;
  float: left;
  width: 98%;
  transition: min-height 0.5s ease 0.3s;
  overflow-y: hidden;
  overflow-x: hidden;
}
.card-logo
{
  padding: 10px 3%;
  position: relative;
  pointer-events: none;
  display: inline-block;
  float: left;
  width: 20%;
}
.card-logo img
{
  width: 100%;
}
.card-content
{
  position: relative;
  display: inline-block;
  float: right;
  width: 80%;
}
.card-content h2
{
  height: 22px;
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
}
.card-content img
{
  width: 100%;
  height: auto;
}
.card-control
{
  margin: 0 auto;
  width: 100%;
  height: 200%;
}
.control
{
  width: 50%;
  height: 25px;
  line-height: 150%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-top-style: solid;
  border-width: 1px;
  border-color: #d4dadc;
  color: #787e80;
  transition: background-color 0.2s ease;
}
.open
{
  border-right-style: solid;
}
.open:hover
{
  background-color: #82d072;
  color: white;
}
.open:active
{
  background-color: #62b052;
}
.delete:hover
{
  background-color: #f55038;
  color: white;
}
.delete:active
{
  background-color: #d53018;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

