* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-user-select: none;
}

body
{
  overflow-y: hidden;
  cursor: default;
  font-family: 'Helvetica';
}

nav.control-window {
  background-color: #6cba5c;
  left:5px;
  top:3px;
  height:20px;
  -webkit-app-region: drag;
}

#menu-bar
{
  position: fixed;
  display: block;
  width: 40%;
  height: 100%;
  top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #6cba5c;
  -webkit-app-region: drag;
}

#main
{
  position: fixed;
  display: block;
  overflow-y: scroll;
  width: calc(100% - 50px);
  height: 100%;
  left: 50px;

  background-color: #f5f5f5;
}

#push-list
{
  display: block;
}
