* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
}

body
{
  overflow-y: hidden;
  -webkit-app-region: no-drag;
}
#menu-bar
{
  position: fixed;
  display: block;
  width: 30%;
  height: 100%;

  background-color: #5caa4c;

  -webkit-app-region: drag;
}
#menu-list
{
  overflow-y: scroll;

  -webkit-app-region: no-drag;
}

#push-list
{
  position: fixed;
  display: block;
  overflow-y: scroll;
  width: 70%;
  height: 100%;
  left: 30%;

  background-color: #f5f5f5;
}
