#menu-bar hr
{
  border: 2px solid #5fad4f;
  padding-left: 0;
  margin: 4px;
}

p.title
{
  /*  color: #1f6d0f;*/
  font-size: 8px;
}

#menu-bar h5
{
  padding-top: 3px;
}

.menber
{
  cursor: pointer;
  position: relative;
  padding-left: 10px;
  z-index: 99;
  /*  background-size: 26px;*/
  /*  background-repeat: no-repeat;*/
  /*  padding-left: 35px;*/
  /*  background-position: 4px 40%;*/
}

.menber img
{
  pointer-events: none;
  height: 30px;
}

.detail
{
  visibility: hidden;
  position: absolute;
  left: 45px;
  top: 0;
  background-color: #6cba5c;
  z-index: 0;
}

.detail p
{
  display: none;
}

.menber:hover .detail
{
  visibility: visible;
}

#menu-list
{
position: fixed;
}

#menu-notification
{
position: fixed;
bottom: 2px;
}
